$light-green: #85bd6a;
$orangered: #FF4500;

$tg-green: #70cf32;
$tg-dark-green: #61b729;
$github-button-green: #2ea44f;
$github-codeblock-background: #f6f8fa;
$tg-slate: #2d3033;
$tg-grey: #6c7279;
$tg-teal: #65d5d9;
$tg-red: #f6574d;
$tg-bermuda-green: #7be3bd;
$base-grey-10: #f4f4f5;
$base-grey-5: rgba($base-grey-10, .5);
$base-grey-30: #e2e6e8;
$base-grey-70: #a4aeb3;
$liao-red:#d05;
$liao-black:#666;