@media only screen and (max-width: 1080px) {
    .single-post {
        figcaption {
            position: static;
            width: auto;
            text-align: center;
        }
    }
    
    .hide-code-block,
    .go-to-top {
        transform: translateX(0);
        right: 50px;
        left: auto;
    }
}
